body{
    padding: 0;
    margin: 0;
}
header{
    height: 100vH;
    background-image:
    

    url(../img1/Resize_Invitación-de-boda.webp);
    
    
    background-size: 90% cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 100vh , 0 80%);*/

}