body, html{
padding: 0;
margin: 0;

}

.fondo_boda{
    background: url(../img/img/real.jpeg);
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    padding-bottom: 5%;
    

}

.heading-primary{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-width: 800px;
    height: 80vh;
    overflow: auto;
    flex-direction: column;
}

.flex_item1{
    max-width: 800px;
    margin: 5px;
    
}
.flex_item1:first-child{
    font-size: 38px;
    padding-top: 20px;
}

   
/*

.invitacion{
    width: 100%;
    height: 100%;
    z-index: 10;
    
    
}


.heading-primary-main{
    position: absolute;
    
    top: 0px;
    left: 290px;
    
    top:2% ;
    left: 30%;
    transform: translate(-10%, -50%);
    
    font-size: 40px;
    z-index: 20;
    letter-spacing: 5px;
}
.heading-primary-sub{
    position: absolute;
    top: 1% ;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    
    
    top: 930px;
    left: 500px;
    
    font-size: 40px;
    z-index: 20;
}



.confirmar_boletos{
    position: absolute;
    top: 1060px;
    left: 350px;
    font-size: 20px;
    z-index: 20;
}
*/

