body, html{
padding: 0;
margin: 0;

}


.heading-primary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    height: 80vh;
    overflow: auto;
    flex-direction: column;
    
}

.heading-primary-main,.heading-primary-sub,.heading-primary-third {
    max-width: 600px;
    margin: 5px;
    background-color: lightblue;
}