@media only screen and (max-width:500px)
{
    @media(max-width:600px){
        .flex_container_center{
            flex-direction: column;
        }
        .flex_item_center{
            font-size: 10px; /*Aqui el problema es que no se cambia la letra si reduzco la pantalla*/
        }
        .flex_container_center{
            height: 100vh;
        }
        .heading-primary-main{
            font-size: 30px; /*No se cambia el font size a 30px*/
        }
    }


